<p>
    {{this.id}}. {{this.burger_name}}
    {{#if devoured}}
    <button class="change-devoured" data-id="{{id}}" data-ifDevoured="{{devoured}}">
        DEVOUR IT!
    </button>
    {{/if}}

    <button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</p>